﻿@using TP0v2.DBAL;
@model dynamic
@{
    ViewBag.Title = "Tableau de bord";
}
@{
    string ets_noms = "";
    string ets_effectifs = "";
    List<string> infras_noms = new List<string>();
    List<int> infras_effectifs = new List<int>();
    foreach (Etablissement ets in Model.Etablissements)
    {
        ets_noms += ets.Nom + "|";
        ets_effectifs += ets.Effectif + "|";
    }
    foreach (EtsInfPivot p in Model.Pivots)
    {
        if (!infras_noms.Contains(p.Infrastructure.Libelle)) {
            infras_noms.Add(p.Infrastructure.Libelle);
            int eff = 0;
            foreach (EtsInfPivot e in Model.Pivots)
            {
                if (e.Infrastructure.Libelle == p.Infrastructure.Libelle)
                {
                    eff += e.Nombre;
                }
            }
            infras_effectifs.Add(eff);
        }
    }
    string piechartdata_x1 = string.Join("|", infras_noms);
    string piechartdata_x2 = string.Join("|", infras_effectifs);
}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item active">Tableau de bord</li>
                </ol>
            </div>
            <h4 class="page-title">Tableau de bord</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="col-4 align-self-center">
                        <div class="round">
                            <i class="mdi mdi-earth"></i>
                        </div>
                    </div>
                    <div class="col-8 align-self-center text-center">
                        <div class="m-l-10">
                            <h5 class="mt-0 round-inner">ID Région : @{ @Model.Region.ID } </h5>
                            <p class="mb-0 text-muted">@Model.Region.Nom</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="col-4 align-self-center">
                        <div class="round">
                            <i class="mdi mdi-bank"></i>
                        </div>
                    </div>
                    <div class="col-8 text-center align-self-center">
                        <div class="m-l-10 ">
                            <h5 class="mt-0 round-inner">@Model.Etablissements.Count</h5>
                            <p class="mb-0 text-muted">Etablissements</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="col-4 align-self-center">
                        <div class="round ">
                            <i class="mdi mdi-hospital-building"></i>
                        </div>
                    </div>
                    <div class="col-8 align-self-center text-center">
                        <div class="m-l-10 ">
                            <h5 class="mt-0 round-inner">@infras_noms.Count</h5>
                            <p class="mb-0 text-muted">Types Infrastructures</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<div class="d-block">
    <div class="row">
        <div class="col-lg-8">
            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title">Etablissements</h4>
                    <p class="text-muted m-b-30 font-14 d-inline-block text-truncate w-100">
                        Nombre d'élèves inscrits par établissement
                    </p>
                    <canvas id="etablissement" height="400"></canvas>
                </div>
            </div>
        </div> <!-- end col -->
        <div class="col-lg-4">
            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title">Infrastructures</h4>
                    <p class="text-muted m-b-30 font-14">Vue d'ensemble</p>

                    <div class="pb-5">
                        <canvas id="doughnut" height="260"></canvas>
                    </div>

                    <table class="table" id="my-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ETABLISSEMENT</th>
                                <th>NOMBRE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (EtsInfPivot item in Model.Pivots)
                            {
                                <tr>
                                    <th>@item.Infrastructure.Libelle</th>
                                    <td>@item.Etablissement.Nom</td>
                                    <td>@item.Nombre</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Chart JS -->
    <script src="/Content/assets/plugins/chart.js/chart.min.js"></script>
    <script>
        !function ($) {
            "use strict";

            var ChartJs = function () { };

            ChartJs.prototype.respChart = function (selector, type, data, options) {
                // get selector by context
                var ctx = selector.get(0).getContext("2d");
                // pointing parent container to make chart js inherit its width
                var container = $(selector).parent();

                // enable resizing matter
                $(window).resize(generateChart);

                // this function produce the responsive Chart JS
                function generateChart() {
                    // make chart width fit with its container
                    var ww = selector.attr('width', $(container).width());
                    switch (type) {
                        case 'Line':
                            new Chart(ctx, { type: 'line', data: data, options: options });
                            break;
                        case 'Doughnut':
                            new Chart(ctx, { type: 'doughnut', data: data, options: options });
                            break;
                        case 'Pie':
                            new Chart(ctx, { type: 'pie', data: data, options: options });
                            break;
                        case 'Bar':
                            new Chart(ctx, { type: 'bar', data: data, options: options });
                            break;
                        case 'Radar':
                            new Chart(ctx, { type: 'radar', data: data, options: options });
                            break;
                        case 'PolarArea':
                            new Chart(ctx, { data: data, type: 'polarArea', options: options });
                            break;
                    }
                    // Initiate new chart or Redraw

                };
                // run function - render chart at first load
                generateChart();
            },
            //init
            ChartJs.prototype.init = function () {
                //barchart
                var barChart = {
                    labels: "@ets_noms".split("|").filter(e => e !== null && e.length > 0),
                    datasets: [
                        {
                            label: "Elèves inscrits",
                            backgroundColor: "#5b6be8",
                            borderColor: "#5b6be8",
                            borderWidth: 1,
                            hoverBackgroundColor: "#5b6be8",
                            hoverBorderColor: "#5b6be8",
                            data: "@ets_effectifs".split("|").filter(e => e !== null && e.length > 0)
                        }
                    ]
                };
                this.respChart($("#etablissement"), 'Bar', barChart);

                //donut chart
                var donutChart = {
                    labels: "@piechartdata_x1".split("|").filter(e => e !== null && e.length > 0),
                    datasets: [
                        {
                            data: "@piechartdata_x2".split("|").filter(e => e !== null && e.length > 0),
                            backgroundColor: [
                                "#5b6be8",
                                "#ebeff2",
                                "#77c949",
                                "#0097a7",
                                "#ffbb44",
                                "#f32f53"
                            ],
                            hoverBackgroundColor: [
                                "#5b6be8",
                                "#ebeff2",
                                "#77c949",
                                "#0097a7",
                                "#ffbb44",
                                "#f32f53"
                            ],
                            hoverBorderColor: "#fff"
                        }]
                };
                this.respChart($("#doughnut"), 'Doughnut', donutChart);
            },
            $.ChartJs = new ChartJs, $.ChartJs.Constructor = ChartJs

        }(window.jQuery),

        //initializing
        function ($) {
            "use strict";
            $.ChartJs.init()
        }(window.jQuery);
    </script>
}