﻿@using TP0v2.DBAL;
@model TP0v2.DBAL.Etablissement

@{
    ViewBag.Title = "Modifier";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="/Etablissement/Index">Etablissements</a></li>
                    <li class="breadcrumb-item active">@Model.Nom</li>
                </ol>
            </div>
            <h4 class="page-title">@Model.Nom</h4>
        </div>
    </div>
    <div class="col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
                <h4>@Model.Nom</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Effectif, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Effectif, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Effectif, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RegionID, "RegionID", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10 col-lg-8">
                        <select class="custom-select" name="RegionID">
                            <option selected value="">Sélectionner une Région</option>
                            @foreach (Region region in ViewBag.Regions)
                            {
                                <option value="@region.ID">@region.Nom</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.RegionID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="Infrastructures" class="control-label col-md-4">Infrastructures</label>
                    <div class="col-md-10 col-lg-6">
                        @foreach (Infrastructure infra in ViewBag.Infrastructures)
                        {
                            <div class="checkbox my-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck-@infra.ID" data-parsley-multiple="groups" data-parsley-mincheck="2" name="InfrastructuresID[]" value="@infra.ID" />
                                    <label class="custom-control-label" for="customCheck-@infra.ID">@infra.Libelle</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Enregistrer" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>