﻿@using TP0v2.DBAL
@using TP0v2.Models
@{
    ApplicationDbContext DB = ApplicationDbContext.Create();
    List<Region> regions = DB.Regions
                        .OrderBy(e => e.Nom)
                        .ToList();
    List<Infrastructure> infras = DB.Infrastructures
                .OrderBy(e => e.Libelle)
                .ToList();
}

@model IEnumerable<TP0v2.DBAL.Etablissement>
@{
    ViewBag.Title = "Etablissements";
}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Accueil</a></li>
                    <li class="breadcrumb-item active">Etablissements</li>
                </ol>
            </div>
            <h4 class="page-title">Etablissements</h4>
        </div>
    </div>
    <div class="col-6" id="Create">
        <h5>Nouvel Etablissement</h5>
        @using (Html.BeginForm("Create", "Etablissement", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="Nom" class="control-label col-md-4">Nom :</label>
                    <div class="col-md-10 col-lg-8">
                        <input class="form-control form-control-lg" type="text" name="Nom" id="Nom" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Effectif" class="control-label col-md-4">Effectif :</label>
                    <div class="col-md-10 col-lg-8">
                        <input class="form-control form-control-lg" type="number" name="Effectif" id="Effectif" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="RegionID" class="control-label col-md-4">Région :</label>
                    <div class="col-md-10 col-lg-8">
                        <select class="custom-select" name="RegionID">
                            <option selected value="">Sélectionner une Région</option>
                            @foreach (var reg in regions)
                            {
                                <option value="@reg.ID">@reg.Nom</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Enregistrer" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-6" id="Assign">
        <h5>Ajouter une infrastructure à un établissement</h5>
        @using (Html.BeginForm("AddInfrastructure", "Etablissement", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="EtablissementID" class="control-label col-md-4">Etablissement:</label>
                    <div class="col-md-10 col-lg-8">
                        <select class="custom-select" name="EtablissementID">
                            <option selected value="">Sélectionner un Etablissement</option>
                            @foreach (var et in Model)
                            {
                                <option value="@et.ID">@et.Nom</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InfraID" class="control-label col-md-4">Infrastructure:</label>
                    <div class="col-md-10 col-lg-8">
                        <select class="custom-select" name="InfrastructureID">
                            <option selected value="">Sélectionner une Infrastructure</option>
                            @foreach (var inf in infras)
                            {
                                <option value="@inf.ID">@inf.Libelle</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Nombre" class="control-label col-md-4">Nombre :</label>
                    <div class="col-md-10 col-lg-8">
                        <input class="form-control form-control-lg" type="number" name="Nombre" id="Nombre" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Enregistrer" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- end page title end breadcrumb -->
<div class="row mt-5">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">

                <h4 class="mt-0 header-title">Etablissements</h4>
                <p class="text-muted m-b-30 font-14">Liste des Etablissements</p>

                <table class="table" id="my-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Effectif</th>
                            <th>Région</th>
                            <th>Infrastructures</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                                <td>@Html.DisplayFor(modelItem => item.Effectif)</td>
                                <td>@Html.DisplayFor(modelItem => item.Region.Nom)</td>
                                <td>
                                    <ul>
                                        @foreach(EtsInfPivot pivot in item.EtsInfPivots)
                                        {
                                            <li>@pivot.Infrastructure.Libelle (@pivot.Nombre) <a href="javascript:;" class="mdi mdi-delete detach-infra" data-pivot="@pivot.ID"></a></li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

@section Stylesheets {
    <link href="/Content/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
}

@section Scripts{
    <script src="/Content/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="/Content/assets/plugins/tiny-editable/numeric-input-example.js"></script>
    <script src="/Content/assets/plugins/tabledit/jquery.tabledit.js"></script>
    <script src="/Content/assets/plugins/sweet-alert2/sweetalert2.min.js"></script>

    <!-- App js -->
    <script src="/Content/assets/js/app.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            var token = $('input[name="__RequestVerificationToken"]').val()
            $.ajaxSetup({ headers: { 'X-CSRF-TOKEN': token } });

            $(".detach-infra").click(function (e) {
                e.preventDefault()
                var ID = $(this).data('pivot'), el = $(this)
                swal({
                    title: 'Attention',
                    text: "Souhaitez-vous vraiment supprimer cette entrée ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger m-l-10',
                    confirmButtonText: 'Oui, je confirme !',
                    cancelButtonText: 'Annuler'
                }).then(function () {
                    $.post("/Etablissement/RemoveInfrastructure/" + ID, "__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val())
                            .done(res => {
                                if (res == "Ok") {
                                    alertify.success("Entrée supprimée !")
                                    el.closest("li").fadeOut(function(tag){
                                        el.closest("li").remove()
                                    })
                                } else {
                                    alertify.error(res);
                                    console.log(res)
                                }
                            })
                            .fail(er => {
                                alert("Delete action failed. See console for details.")
                                console.log(er)
                            })
                })
            })

            var regions_options = $('[name="RegionID"] option'),
                regions_array = [];
            regions_options.each(function (e) {
                let el = $(regions_options[e])
                //console.log(el);
                if (el.val().length)
                    regions_array.push('"' + el.val()+ '":"' + el.text()+ '"')
            })

            $('#my-table').setUpTabledit(
                "Etablissement",
                [
                        [1, 'Nom'],
                        [2, 'Effectif'],
                        [3, 'RegionID', '{' + regions_array.join(',') + '}']
                ],
                { updated: "Changements enregistrés !", deleted: "Etablissement supprimé !" }
            )
        })
    </script>
}