﻿@model IEnumerable<TP0v2.DBAL.Region>
@{
    ViewBag.Title = "Régions";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Accueil</a></li>
                    <li class="breadcrumb-item active">Régions</li>
                </ol>
            </div>
            <h4 class="page-title">Régions</h4>
        </div>
    </div>
    <div class="col-12" id="Create">
        <h5>Nouvelle Région</h5>
        @using (Html.BeginForm("Create", "Region", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="Nom" class="control-label col-md-2">Nom :</label>
                    <div class="col-md-10 col-lg-6">
                        <input class="form-control form-control-lg" type="text" name="Nom" id="Nom" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Enregistrer" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">

                <h4 class="mt-0 header-title">Régions</h4>
                <p class="text-muted m-b-30 font-14">Liste des régions</p>

                <table class="table" id="my-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

@section Scripts{
    <script src="/Content/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="/Content/assets/plugins/tiny-editable/numeric-input-example.js"></script>
    <script src="/Content/assets/plugins/tabledit/jquery.tabledit.js"></script>

    <!-- App js -->
    <script src="/Content/assets/js/app.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            var token = $('input[name="__RequestVerificationToken"]').val()
            $.ajaxSetup({ headers: { 'X-CSRF-TOKEN': token } });

            $('#my-table').setUpTabledit("Region", [[1, 'Nom']], { updated: "Changements enregistrés !", deleted: "Région supprimée !" })
        })
    </script>
}