﻿
@using TP0v2.DBAL
@using TP0v2.Models
@model dynamic
@{
    ApplicationDbContext DB = ApplicationDbContext.Create();
    List<Region> regions = DB.Regions
                        .OrderBy(e => e.Nom)
                        .ToList();
}
<div class="navbar-custom">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li class="has-submenu">
                    <a href="/Home/Index"><i class="mdi mdi-airplay"></i>Tableau de bord</a>
                    <ul class="submenu">
                        @foreach (var reg in regions)
                        {
                            <li>
                                <a href="/Home/Index?RegionID=@reg.ID">@reg.Nom</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript:;"><i class="mdi mdi-earth"></i>Régions</a>
                    <ul class="submenu">
                        <li>
                            <a href="/Region/Index">Liste des Régions</a>
                        </li>
                        <li>
                            <a href="/Region/Index#Create">Nouvelle Région</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript:;"><i class="mdi mdi-bank"></i>Etablissements</a>
                    <ul class="submenu">
                        <li>
                            <a href="/Etablissement/Index">Liste des Etablissements</a>
                        </li>
                        <li>
                            <a href="/Etablissement/Index#Create">Nouvel Etablissement</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript:;"><i class="mdi mdi-hospital-building"></i>Infrastructures</a>
                    <ul class="submenu">
                        <li>
                            <a href="/Infrastructure/Index">Liste des Infrastructures</a>
                        </li>
                        <li>
                            <a href="/Infrastructure/Index#Create">Nouvelle Infrastructure</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End navigation menu -->
        </div> <!-- end #navigation -->
    </div>
</div>

