﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="/Content/assets/images/favicon.ico">
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <link href="@Url.Content("~/Content/assets/plugins/morris/morris.css")" rel="stylesheet">

    <link href="@Url.Content("~/Content/assets/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/plugins/alertify/css/alertify.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/css/icons.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/css/style.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/fontawesome-free/css/all.css")" rel="stylesheet" />

    @RenderSection("stylesheets", required: false)

</head>


<body>

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">

                <!-- Logo container-->
                <div class="logo">
                    <!-- Text Logo -->
                    <!--<a href="index.html" class="logo">-->
                    <!--Annex-->
                    <!--</a>-->
                    <!-- Image Logo -->
                    <a href="/Home/Index" class="logo">
                        <img src="@Url.Content("~/Content/assets/images/logo-sm.png")" alt="" height="22" class="logo-small">
                        <img src="@Url.Content("~/Content/assets/images/logo.png")" alt="" height="16" class="logo-large">
                    </a>

                </div>
                <!-- End Logo container-->


                <div class="menu-extras topbar-custom">

                    <ul class="list-inline float-right mb-0">

                        <!-- language-->
                        <li class="list-inline-item dropdown notification-list hide-phone">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                English <img src="@Url.Content("~/Content/assets/images/flags/us_flag.jpg")" class="ml-2" height="16" alt="" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right language-switch">
                                <a class="dropdown-item" href="#"><img src="@Url.Content("~/Content/assets/images/flags/italy_flag.jpg")" alt="" height="16" /><span> Italian </span></a>
                                <a class="dropdown-item" href="#"><img src="@Url.Content("~/Content/assets/images/flags/french_flag.jpg")" alt="" height="16" /><span> French </span></a>
                                <a class="dropdown-item" href="#"><img src="@Url.Content("~/Content/assets/images/flags/spain_flag.jpg")" alt="" height="16" /><span> Spanish </span></a>
                                <a class="dropdown-item" href="#"><img src="@Url.Content("~/Content/assets/images/flags/russia_flag.jpg")" alt="" height="16" /><span> Russian </span></a>
                            </div>
                        </li>

                        <!-- notification-->
                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <i class="mdi mdi-bell-outline noti-icon"></i>
                                <span class="badge badge-success noti-icon-badge">21</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5>Notification (3)</h5>
                                </div>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                    <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                    <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                    <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                                </a>

                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    View All
                                </a>

                            </div>
                        </li>
                        <!-- User-->
                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src=" @Url.Content("~/Content/assets/images/users/avatar-1.jpg") " alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5>Welcome</h5>
                                </div>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5 text-muted"></i> My Wallet</a>
                                <a class="dropdown-item" href="#"><span class="badge badge-success float-right">5</span><i class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock screen</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>
                            </div>
                        </li>
                        <li class="menu-item list-inline-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>

                    </ul>
                </div>
                <!-- end menu-extras -->

                <div class="clearfix"></div>

            </div> <!-- end container -->
        </div>
        @Html.Partial("_Partials/_Menu")
    </header>
    <!-- End Navigation Bar-->


    <div class="wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    © 2018 Annex by Mannatthemes.
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jQuery  -->
    <script src="@Url.Content("~/Content/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/waves.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/jquery.nicescroll.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/jquery.scrollTo.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/alertify/js/alertify.js")"></script>

    <script src="@Url.Content("~/Content/assets/plugins/skycons/skycons.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/raphael/raphael-min.js")"></script>
    @*<script src="@Url.Content("~/Content/assetsassets/plugins/morris/morris.min.js")"></script>*@

    @*<script src="@Url.Content("~/Content/assets/pages/dashborad.js")"></script>*@


    <!-- App js -->
    <script src="@Url.Content("~/Content/assets/js/app.js")"></script>
    <script>
        /* BEGIN SVG WEATHER ICON */
        if (typeof Skycons !== 'undefined') {
            var icons = new Skycons(
                { "color": "#fff" },
                { "resizeClear": true }
            ),
                list = [
                    "clear-day", "clear-night", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;

            for (i = list.length; i--;)
                icons.set(list[i], list[i]);
            icons.play();
        };

        // scroll

        $(document).ready(function () {

            $("#boxscroll").niceScroll({ cursorborder: "", cursorcolor: "#cecece", boxzoom: true });
            $("#boxscroll2").niceScroll({ cursorborder: "", cursorcolor: "#cecece", boxzoom: true });

            $.fn.setUpTabledit = function (ctrlr, editable_cols, messages) {
                $(this).Tabledit({
                    url: "/Dev/Null",
                    buttons: {
                        save: {
                            class: 'btn btn-sm btn-success',
                            html: 'Enregistrer'
                        },
                        confirm: {
                            class: 'btn btn-sm btn-danger',
                            html: 'Confirmer?'
                        }
                    },
                    columns: {
                        identifier: [0, 'ID'],
                        editable: editable_cols
                    },
                    onAjax(action, serialize) {
                        $.post("/" + ctrlr + "/" + (action == "edit" ? "Edit" : "Delete"), serialize + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val())
                        .done(res => {
                            if (res == "Ok")
                                alertify.success(action == "edit" ? messages.updated : messages.deleted)
                            else {
                                alertify.error(res);
                                console.log(res)
                            }
                        })
                        .fail(er => {
                            alert((action == "edit" ? "Update failed." : "Delete action failed.") + " See console for details.")
                            console.log(er)
                        })
                        return true;
                    }
                });
            }

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>