﻿@model IEnumerable<TP0v2.DBAL.Infrastructure>
@{
    ViewBag.Title = "Infrastructures";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Accueil</a></li>
                    <li class="breadcrumb-item active">Infrastructures</li>
                </ol>
            </div>
            <h4 class="page-title">Infrastructures</h4>
        </div>
    </div>
    <div class="col-12" id="Create">
        <h5>Nouvelle Infrastructure</h5>
        @using (Html.BeginForm("Create", "Infrastructure", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="Nom" class="control-label col-md-2">Libellé :</label>
                    <div class="col-md-10 col-lg-6">
                        <input class="form-control form-control-lg" type="text" name="Libelle" id="Nom" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Enregistrer" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- end page title end breadcrumb -->
<div class="row mt-5">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">

                <h4 class="mt-0 header-title">Infrastructures</h4>
                <p class="text-muted m-b-30 font-14">Liste des Infrastructures</p>

                <table class="table" id="my-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Libellé</th>
                            <th>Etablissements d'appartenance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                <td>@Html.DisplayFor(modelItem => item.Libelle)</td>
                                <td>
                                    @if (item.EtsInfPivots.Count > 0)
                                    {
                                        <ul>
                                            @foreach (var et in item.EtsInfPivots)
                                            {
                                                <li>@et.Etablissement.Nom (@et.Nombre)</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <em>Cette infrastructue n'est dans aucun établissement.</em>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

@section Scripts{
    <script src="/Content/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="/Content/assets/plugins/tiny-editable/numeric-input-example.js"></script>
    <script src="/Content/assets/plugins/tabledit/jquery.tabledit.js"></script>

    <!-- App js -->
    <script src="/Content/assets/js/app.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            var token = $('input[name="__RequestVerificationToken"]').val()
            $.ajaxSetup({ headers: { 'X-CSRF-TOKEN': token } });

            var ets_options = $('[name="EtablissementID"] option'),
                ets_array = [];
            ets_options.each(function (e) {
                let el = $(ets_options[e])
                if (el.val().length)
                    ets_array.push('"' + el.val() + '":"' + el.text() + '"')
            })

            $('#my-table').setUpTabledit(
                "Infrastructure",
                [[1, 'Libelle']],
                { updated: "Changements enregistrés !", deleted: "Infrastructure supprimée !" }
            )
        })
    </script>
}